.font-anton {
	font-family: 'Anton', sans-serif;
	font-family: "Anton", serif;
	font-weight: 400;
	font-style: normal;
}
input:focus-visible {
	outline: none;
}

.font-manrope {
	font-family: 'Manrope', sans-serif;
	font-family: "Manrope", serif;
	font-weight: 400;
	font-style: normal;
}